**
!backend/
backend/**
!backend/requirements.txt
!backend/models/
!backend/models/**
!frontend/
frontend/**
!frontend/src-tauri/
frontend/src-tauri/**
!frontend/src-tauri/Cargo.toml
!frontend/src-tauri/Cargo.lock
